.TeamPage {

  max-height: 883px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .team-name-section {
    grid-column: span 2;
    justify-self: start;
    align-self: end;

  }

  .color-symbol{
    justify-self: center;
    padding: 70px;
  }

  .win-loss-section {
    justify-self: center;
    padding: 60px;
    text-align: center;
  }

  .team-name {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .match-detail-section {
    grid-column: span 4;
  }

  .more-link {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
  }
  .color-symbol{
    margin-top: 61px;


  }
  .won-div{
    border: 20px solid #4A4A4A;
    margin-bottom: 5px;

  }
  .loss-div{
    border: 20px solid #869080;
    margin-bottom: 5px;
  }


}


