.MatchDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;

  .match-date, .match-city, .match-result {
    margin-top: 10px;
  }

  .innings-details {
    text-align: right;

    & > p {
      margin-bottom: 20px;
    }

  }


  .vs {

  }

}

